body {
	background-color: #cccccc;
	background-image: url("res/img/172-1725259_you-win-pixel-art-hd-png-download.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat;
	height: 600px;
}
